{% extends 'template.html' %}

{% block title %}
Accueil
{% endblock %}

{% block content %}
<h1>L'histoire de D&D</h1>
<article>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra, erat non finibus volutpat, orci justo sodales mauris, ac pretium nulla felis vel augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam semper sem nulla, ut luctus lectus laoreet sit amet. Proin fringilla nibh quam, vel euismod nisi semper ut. Vivamus sit amet ipsum accumsan, eleifend felis eu, dignissim diam. Pellentesque sed porttitor arcu. Sed nisl mauris, commodo vel odio aliquet, venenatis sagittis felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc ornare venenatis erat eu blandit. Aenean et accumsan nulla, porttitor auctor elit. Ut id accumsan ipsum. Pellentesque pellentesque sed leo in congue. Sed lorem elit, pulvinar non elit eu, aliquet posuere enim. Integer tempor enim in dapibus interdum. Aenean in magna vel odio rutrum egestas eu eget dui. Pellentesque fermentum condimentum ex, a semper mi vehicula ac.
</article>

<h1>Autre Paragraphe</h1>

<article>
  Aliquam tincidunt, purus at eleifend pellentesque, orci neque posuere mauris, nec malesuada felis lorem sit amet odio. Vestibulum rutrum mi non vehicula convallis. Quisque interdum in nibh eu fermentum. In hac habitasse platea dictumst. Sed faucibus imperdiet erat quis facilisis. Vivamus efficitur neque vitae ornare lacinia. Suspendisse sit amet luctus quam. Donec posuere odio metus, non tincidunt arcu ultricies eu. In id massa pulvinar, pretium ante ut, molestie risus. Curabitur nulla eros, semper sit amet augue ut, auctor aliquet ligula. Sed sed varius odio, gravida luctus ligula. Phasellus eu mi dapibus, pretium dui eget, sollicitudin odio.
</article>

<h1>Encore Un</h1>

<article>
  Suspendisse egestas ut dui ac pharetra. Ut pulvinar, ipsum at aliquet fringilla, nisl nisl interdum risus, vel sodales eros eros et est. Nullam luctus iaculis leo at scelerisque. Praesent a congue dolor. Etiam vel sollicitudin mauris, vitae laoreet nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas a dui urna. Nam dignissim orci sit amet turpis hendrerit varius. Quisque ullamcorper turpis ac mollis fringilla. Fusce imperdiet volutpat libero at viverra. Morbi congue arcu luctus, maximus ligula ut, lobortis diam. Aenean nec sapien ligula. Aenean ultrices turpis justo. Pellentesque viverra congue magna a aliquet. Praesent semper, dui sit amet vehicula tempor, neque dolor molestie ex, id facilisis nisl libero sit amet neque.
</article>
{% endblock %}